---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const projects = await getCollection("portfolio");
---

<BaseLayout>
  <div class="pb-12 mt-5">
    <h1 class="text-4xl font-bold mb-8">Portfolio</h1>
    <p class="text-lg mb-8">Here are some of the projects I've worked on:</p>
    
    <div class="grid gap-6 md:grid-cols-2">
      {projects.slice(0, 2).map((project) => (
        <div class="card bg-base-200 shadow-xl">
          {project.data.image && (
            <figure class="px-6 pt-6">
              <img src={project.data.image} alt={project.data.title} class="rounded-xl w-[150px] h-[150px] object-cover mx-auto" />
            </figure>
          )}
          <div class="card-body">
            <h2 class="card-title">{project.data.title}</h2>
            <p class="text-sm text-base-content/70 mb-2">{project.data.tech}</p>
            <p>{project.data.description}</p>
            <div class="card-actions justify-center mt-4">
              {project.data.github && (
                <a href={project.data.github} target="_blank" class="btn btn-primary btn-sm">
                  GitHub
                </a>
              )}
            </div>
          </div>
        </div>
      ))}
    </div>
    
    <div class="mt-12 text-center">
      <div class="divider text-xl font-semibold">More Projects</div>
      <p class="text-lg mb-6">Click the link below to explore my other projects from internships & personal learning.</p>
      <a href="https://github.com/tchangalov" target="_blank" class="btn btn-outline btn-lg">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="mr-2" style="fill: currentColor;">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M12.026 2c-5.509 0-9.974 4.465-9.974 9.974 0 4.406 2.857 8.145 6.821 9.465.499.09.679-.217.679-.481 0-.237-.008-.865-.011-1.696-2.775.602-3.361-1.338-3.361-1.338-.452-1.152-1.107-1.459-1.107-1.459-.905-.619.069-.605.069-.605 1.002.07 1.527 1.028 1.527 1.028.89 1.524 2.336 1.084 2.902.829.091-.645.351-1.085.635-1.334-2.214-.251-4.542-1.107-4.542-4.93 0-1.087.389-1.979 1.024-2.675-.101-.253-.446-1.268.099-2.64 0 0 .837-.269 2.742 1.021a9.582 9.582 0 0 1 2.496-.336 9.554 9.554 0 0 1 2.496.336c1.906-1.291 2.742-1.021 2.742-1.021.545 1.372.203 2.387.099 2.64.64.696 1.024 1.587 1.024 2.675 0 3.833-2.33 4.675-4.552 4.922.355.308.675.916.675 1.846 0 1.334-.012 2.41-.012 2.737 0 .267.178.577.687.479C19.146 20.115 22 16.379 22 11.974 22 6.465 17.535 2 12.026 2z"></path>
        </svg>
        View All Projects on GitHub
      </a>
    </div>
  </div>
</BaseLayout>
